In [2]:
import pandas as pd
import numpy as np

In [90]:
df = pd.read_json("https://raw.githubusercontent.com/dxli94/WLASL/master/start_kit/WLASL_v0.3.json").drop(columns='instances')
df.head()

      gloss
0      book
1     drink
2  computer
3    before
4     chair

In [89]:
#df["gloss"].tolist()

In [41]:
df[df['gloss'].str.contains("headache")]

        gloss
117  headache